In [1]:
import psycopg2
import pandas as pd

In [2]:
conn = psycopg2.connect(user = "postgres",
                          password = "Srihan!2002",
                          host = "localhost",
                          port = "5432",
                          database = "PortugalWine")

cur = conn.cursor()

In [3]:
try:
    cur.execute('DROP TABLE portugal_wine')
except:
    pass

cur.execute('CREATE TABLE portugal_wine (id varchar(6) NOT NULL,\
                name varchar(1000) NOT NULL,\
                rating varchar(3),\
                price varchar(5),\
                taster varchar(100),\
                designation varchar(100),\
                variety varchar(100),\
                appellation varchar(100),\
                winery varchar(100),\
                alcohol varchar(100),\
                bottle_size varchar(10),\
                category varchar(100),\
                importer varchar(100),\
                date_published varchar(20));')
conn.commit()

In [4]:
cur.execute("COPY portugal_wine FROM 'C:\\Users\\Suma Marri\\Documents\\GitHub\\Wine_Quality\\PortugueseWines_WineEnthusiastScrape.csv' WITH DELIMITER AS ',' CSV")
conn.commit()

In [5]:
try:
    cur.execute('DROP TABLE portugal_review')
except:
    pass

cur.execute('CREATE TABLE portugal_review (name varchar(100) NOT NULL,\
                region varchar(1000) NOT NULL,\
                year varchar(4),\
                color varchar(5),\
                castes varchar(100),\
                AlcoholPercentage varchar(2),\
                Producer varchar(100),\
                MinimunPrice varchar(2),\
                MaximumPrice varchar(2),\
                Judge varchar(100),\
                JudgeRating varchar(2),\
                JudgeNotes varchar(5000),\
                Label varchar(100),\
                Date varchar(20));')
conn.commit()

In [6]:
cur.execute("COPY portugal_wine FROM 'C:\\Users\\Suma Marri\\Documents\\GitHub\\Wine_Quality\\PortugueseWineReviews.csv' WITH DELIMITER AS ',' CSV")
conn.commit()